/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-top: 100px;
  padding-right: var(--page-padding);
  padding-bottom: 100px;
  padding-left: var(--page-padding);
  font-family: var(--font-main), sans-serif;
  background-image: var(--page-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-wght-normal);
}

.container {
  width: var(--page-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  outline: 2px solid black;
  background-color: #fff;
}

.logo_group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: var(--logo-padding-top-bottom);
  padding-right: var(--logo-padding-left-right);
  padding-bottom: var(--logo-padding-top-bottom);
  padding-left: var(--logo-padding-left-right);
}

.logo {
  font-family: var(--font-accent);
  font-size: var(--logo-font-size);
  text-decoration: none;
}

.header_title {
  font-family: var(--font-accent);
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  font-family: var(--font-main);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
}

.card_title {
  border-bottom: 2px solid black;
  padding: 5px 10px 3px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-main-wght-bold);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: var(--img-height);
  overflow: hidden;
}

.card_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 0.5);
  background-color: transparent;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px rgba(255, 255, 255, 0.5)) or
    (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5))
) {
  .card_image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
    text-stroke: 1px rgb(255 255 255 / 0.5);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px black solid;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-wght-normal);
}

.card_like {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 6px;
  padding-right: 25px;
  padding-bottom: 23px;
}

.button {
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  box-shadow: 2px 2px 0 black;
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  block-size: 38px;
  max-inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  padding: 0 35px;
  color: var(--btn-text-color);
  font-family: var(--font-accent);
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: black;
}

.button-save {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: clamp(
    306px,
    calc(306px + (335 - 306) * ((100cqw - 375px) / (1440 - 375))),
    335px
  );
  height: clamp(
    55px,
    calc(84px - (84 - 55) * ((100cqw - 375px) / (1440 - 375))),
    84px
  );
  background-color: #fff;
}

.button__text-save {
  padding: 21px 2px 21px 8px;
}

.button-save__icon-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  color: #fff;
  mix-blend-mode: difference;
}

.button-save__icon {
  width: clamp(
    21px,
    calc(28px - (28 - 21) * ((100vw - 375px) / (1440 - 375))),
    28px
  );
  height: clamp(
    21px,
    calc(28px - (28 - 21) * ((100vw - 375px) / (1440 - 375))),
    28px
  );
}

.dialog[open] {
  align-content: space-around;
  width: clamp(
    341px,
    calc(341px + (353 - 341) * ((100cqw - 375px) / (1440 - 375))),
    353px
  );
  border: 2px solid black;
  padding: 30px;
}

.dialog_discription {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding-bottom: 30px;
}

.button__text-dialog {
  padding: 0;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog_save-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  fill: var(--btn-text-color);
  mix-blend-mode: difference;
}

.dialog_button {
  width: clamp(
    261px,
    calc(261px + (293 - 261) * ((100cqw - 375px) / (1440 - 375))),
    293px
  );
  height: 38px;
  background-color: transparent;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column-reverse;
    padding-top: 22px;
  }

  .button-save__icon {
    flex-shrink: 0;
  }

  .button__text-save {
    padding: 8px 8px 21px;
  }

  .dialog[open] {
    padding: 30px 38px;
  }
}

/*-------------------------------filters----------------------------*/

.image_grayscale {
  filter: grayscale(0.8);
}

.image_brightness {
  filter: brightness(200%);
}

.image_contrast {
  filter: contrast(50%);
}

.image_opacity {
  filter: opacity(0.8);
}

.image_sepia {
  filter: sepia(80%);
}

.image_blur {
  filter: blur(3rem);
}

.image_several_filters {
  filter: contrast(20%) contrast(2) brightness(110%);
}

.image_invert {
  filter: invert(0.6);
}

/*----------------------------Animations--------------------------------*/

.like-icon {
  margin: auto;
  transform-origin: center;
  inline-size: 34px;
  block-size: 34px;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon .sparks {
  fill: transparent;
}

.like-icon.is-liked .sparks {
  animation: sparks-visibility 0.3s ease-in 0.3s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}
