/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-wght-normal);
  background-image: var(--page-gradient);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

.container {
 width: var(--page-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 98px;
  outline: 2px solid black;
}

.logo_group {
  padding-top: var(--logo-padding-top-bottom) ;
  padding-right: var(--logo-padding-left-right);
  padding-bottom: var(--logo-padding-top-bottom);
  padding-left: var(--logo-padding-left-right);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  font-family: var(--font-accent);
  font-size: var(--logo-font-size);
  text-decoration: none;
}

.header_title {
  font-family: var(--font-accent);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: var(--font-main);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
}

.card_title {
  font-weight: var(--font-main-wght-bold);
  padding: 5px 10px 3px;
  font-size: 18px;
  border-bottom: 2px solid black;
}



.image-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: var(--img-height);
}


.card_image {
  width: 100%;       
  height: 100%;    
  object-fit: cover;
  display: block; 
}

.card_image-label {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  background-color: transparent;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent);
  font-size: 14px;
}

@supports((text-stroke: 1px rgba(255, 255, 255, 0.5);) or (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5))) {
  .card_image-label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
} 


.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px black solid;
  padding: 25px;
  font-variation-settings: 'wght' var(--font-main-wght-normal);
  font-size: 18px;
  line-height: 21px;
}

.card_like {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  padding-right: 25px;
  padding-bottom: 22px;
}

.card__like-button {
  background-color: transparent;
  outline: none;
  border: 2px solid #000;
  padding: 0;
  margin: 0;
  block-size: 38px;
  max-inline-size: 130px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  padding: 0 35px;
  mix-blend-mode: difference;
  color: var(--btn-text-color);
  position: relative;
  z-index: 1;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  margin: 0;
  transition: border-color 0.3s ease; 
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: black;
}

.button-save {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: clamp(306px, calc(306px + (335 - 306) * ((100cqw - 375px) / (1440 - 375))), 335px);
  height: clamp(55px, calc(84px - (84 - 55) * ((100cqw - 375px) / (1440 - 375))), 84px);
  border: 2px solid black;
  align-self: center;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.button-save:focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

.button-save::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out
}

.button-save:hover::before {
  transform: translateX(0);
}

.button__text-save {
  padding: 21px 2px 21px 8px;
}

.button-save__icon-wrapper {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #ffffff;
  display: flex;
  align-items: center;
  }

.button-save__icon {
  width: clamp(21px, calc(28px - (28 - 21) * ((100vw - 375px) / (1440 - 375))), 28px);
  height: clamp(21px, calc(28px - (28 - 21) * ((100vw - 375px) / (1440 - 375))), 28px);
}

.dialog {
  padding: 30px;
  height: 191px;
  width: clamp(341px, calc(341px + (353 - 341) * ((100cqw - 375px) / (1440 - 375))), 353px);
  align-content: space-around;
}

.dialog_discription {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding-bottom: 30px;
}

.button__text-dialog {
  padding: 0;
}

.dialog_save-icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  mix-blend-mode: difference;
  fill: var(--btn-text-color);
}

.dialog_button {
  height: 38px;
  width: clamp(261px, calc(261px + (293 - 261) * ((100cqw - 375px) / (1440 - 375))), 293px);
  border: 2px solid black;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.dialog_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

.dialog_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out
}

.dialog_button:hover::before {
  transform: translateX(0);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column-reverse;
    padding-top: 22px;
  }

  .button-save__icon {
    flex-shrink: 0;
  }

  .button__text-save {
    padding: 8px 8px 21px 8px;
  }

}

/*-------------------------------filters----------------------------*/

.image_prestart {
  filter: grayscale(0.8);
  
}

.image_start {
  filter: brightness(200%);
  
}

.image_doubt {
  filter: contrast(50%);
}

.image_perfect {
  filter: opacity(0.8);
}

.image_team {
   filter: sepia(80%);
}

.image_strategy {
  filter: blur(3.0rem);
}

.image_trouble {
  filter: contrast(20%) contrast(2) brightness(110%);
}

.image_now {
  filter: invert(0.6);
} 

/*----------------------------Animations--------------------------------*/

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
} 

.like-icon .sparks {
  fill: transparent;
}

.like-icon.is-liked .sparks {
  animation: sparks-visibility 0.3s ease-in 0.3s;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  } 

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  } 

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;  
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
  }

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}


